<div class="container">
    <div class="col-lg-12" id="pile">
        {{#each images}}  
        <td> <a href="#"><img data-toggle="modal" data-target="#exampleModal" width="30%" onclick="demo({{id}})" src="{{url}}" ></a></td>
        {{/each}}
        
    </div>
    <div class="form-group">
        <input type="text" class="form-control hidden" placeholder="Enter a todo" id="seleccion" name="seleccion">
    </div>    
    <!--<div class="row">
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="2">2x2</a>
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="3">3x3</a>
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="4">4x4</a>
        <a href="#" class="restart-puzzle btn btn-info col-lg-3" data-grid="5">5x5</a>
    </div>-->
</div> 

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Seleccione dificultad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <div class="row">
                <a href="juego" class="restart-puzzle btn-info col-lg-3" data-grid="2">2x2</a>
                <a href="juego" class="restart-puzzle btn-info col-lg-3" data-grid="3">3x3</a>
                <a href="juego" class="restart-puzzle btn-info col-lg-3" data-grid="4">4x4</a>
                <a href="juego" class="restart-puzzle btn-info col-lg-3" data-grid="5">5x5</a>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
    function demo(id){
        document.getElementById("seleccion").value = id;

    }
</script>
