
<<<<<<< HEAD


<script >
       
        var usuario = localStorage.getItem("usuarioLog");
        
        if(usuario==null || usuario==undefined){
             console.log(usuario);
              window.location="/login"
             //window.location="/user/login"
        }
        
      
    
</script>


<ul class="list-group">
=======
 <button disabled="disabled"><a href="/">regresar</a></button>

 <ul class="list-group">
>>>>>>> 8275d88cbc296542f184ff3da61097c398efd408
  {{#each users}}
    <a href="/usuarios/{{id}}" class="list-group-item">{{nombre}}</a>
  {{/each}}
</ul>
<a type="button" class="btn btn-default btn-primary" href="/usuarios/new">
  nuevo usuario
</a>
